/*
******
RESET
******
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
******
TABELLA
******
*/

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 10px;
}
